---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-24">
    <div class="bg-secondary h-screen"></div>
    <div class="bg-secondary h-screen"></div>
  </div>
</Layout>
