---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-28">
    <div class="bg-secondary h-screen">
      <p>NOTCH</p>
      <p>Interweaving artistic genres, inviting unfamiliar encounters</p>
      <p>a literary and arts magazine</p>
    </div>

    <div
      class="bg-secondary flex h-screen flex-col items-center justify-center gap-14 px-120 text-center text-4xl"
    >
      <p>
        Notch is a literary and arts magazine based in New York and Paris. We
        publish biannually in print and online. Subscribe <a
          href="/shop"
          class="hover:text-primary underline decoration-1 underline-offset-8"
          >here</a
        >.
      </p>

      <p>Submissions are currently closed.</p>
    </div>
  </div>
</Layout>
