---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-24">
    <div class="bg-secondary h-screen border border-4 border-red-500">
      <div class="flex h-full flex-col justify-center px-42">
        <span class="border">NOTCH</span>
        <span class="border"
          >Interweaving artistic genres, inviting unfamiliar encounters</span
        >
        <span class="border">a literary and arts magazine</span>
      </div>
    </div>
    <div class="bg-secondary h-screen"></div>
  </div>
</Layout>
