---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-24">
    <div class="bg-secondary h-screen">
      <div class="flex flex-col">
        <span>NOTCH</span>
        <span>Interweaving artistic genres, inviting unfamiliar encounters</span
        >
        <span>a literary and arts magazine</span>
      </div>
    </div>
    <div class="bg-secondary h-screen"></div>
  </div>
</Layout>
