---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-24">
    <div class="bg-secondary h-screen">
      <div class="flex h-full flex-col justify-center px-42">
        <span>NOTCH</span>
        <span>Interweaving artistic genres, inviting unfamiliar encounters</span
        >
        <span>a literary and arts magazine</span>
      </div>
    </div>

    <div class="bg-secondary h-screen">
      <div class="flex h-full flex-col justify-center gap-6 px-106 text-center">
        <span
          >Notch is a literary and arts magazine based in New York and Paris. We
          publish biannually in print and online. Subscribe here.</span
        >

        <span>Submissions are currently closed.</span>
      </div>
    </div>
  </div>
</Layout>
