---
import Instagram from "../components/icons/Instagram.astro";
import Logo from "../components/icons/Logo.astro";
import X from "../components/icons/X.astro";
import type { Link } from "../types";

const linksByColumn: Link[][] = [
  [
    { href: "/about", label: "About" },
    { href: "/events", label: "Events" },
  ],
  [
    { href: "/issues", label: "Issues" },
    { href: "/stockists", label: "Stockists" },
  ],
  [
    { href: "/donate", label: "Support" },
    { href: "/shop", label: "Subscribe" },
  ],
  [
    { href: "/shop", label: "Shop" },
    { href: "/submissions", label: "Submissions" },
  ],
];
---

<footer class="bg-tertiary w-full px-18 py-4">
  <div class="flex grid grid-cols-3 items-center">
    <div class="flex gap-14">
      <div>
        <a href="/" class="hover:text-secondary text-white">
          <Logo class="h-26 w-auto" />
        </a>
      </div>

      <div class="text-primary flex gap-4 self-center text-sm font-medium">
        {
          linksByColumn.map((column) => (
            <div class="flex flex-col gap-2">
              {column.map((link) => (
                <a href={link.href} class="hover:text-secondary">
                  {link.label}
                </a>
              ))}
            </div>
          ))
        }
      </div>
    </div>

    <div>
      <div class="flex justify-center gap-6">
        <a
          href="https://www.instagram.com/notch.magazine/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-secondary text-white"
        >
          <Instagram class="h-6 w-auto" />
        </a>

        <a
          href="https://x.com/notch_magazine"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-secondary text-white"
        >
          <X class="h-6 w-auto" />
        </a>
      </div>

      <div class="text-center text-sm">
        © <span class="italic">2026, Notch Magazine, LLC</span>
      </div>
    </div>

    <div class="justify-self-end">Sign up to recieve news and updates</div>
  </div>
</footer>
