---

---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.png" />

  <link
    rel="preload"
    href="/fonts/Gravity/Gravity/ABCGravity-Compressed.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />

  <title>Notch Magazine</title>
</head>
