---

---

<nav>
  <a class="nav-link" href="/issues/">ISSUES</a>
  <a class="nav-link" href="/events/">EVENTS</a>
  <a class="title" href="/">NOTCH MAGAZINE</a>
  <a class="nav-link" href="/stockists/">STOCKISTS</a>
  <a class="nav-link" href="/shop/">SHOP</a>
</nav>

<style>
  @font-face {
    font-family: 'Font';
    src: url('/fonts/font-40f6370d-236c-49bc-bff5-e673b143574c.otf') format('opentype');
  }

  nav {
    font-family: 'Font', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(0, 0, 139);
    background-color: rgb(245, 245, 245);
  }

  a, a:visited {
    color: inherit;
  }

  .title {
    font-size: 46px;
    text-decoration: none;
  }

  .nav-link {
    font-size: 22px;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
  }
</style>
