---

---

<nav>
  <div class="nav-inner">
    <div class="nav-item">
      <a href="/issues/">ISSUES</a>
    </div>

    <div class="nav-item">
      <a href="/events/">EVENTS</a>
    </div>

    <div class="nav-item">
      <a class="title" href="/">NOTCH MAGAZINE</a>
    </div>

    <div class="nav-item">
      <a href="/stockists/">STOCKISTS</a>
    </div>

    <div class="nav-item">
      <a href="/shop/">SHOP</a>
    </div>
  </div>
</nav>

<style>
  @font-face {
    font-family: 'Font';
    src: url('/fonts/font-40f6370d-236c-49bc-bff5-e673b143574c.otf') format('opentype');
  }

  nav {
    color: rgb(0, 0, 139);
    background-color: rgb(245, 245, 245);
    font-family: 'Font', sans-serif;
    position: fixed;
    width: 100%;
  }

  .nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 90px;
  }

  .nav-item {
    display: inline-flex;
  }

  .title {
    font-size: 64px;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-size: 28px;
    line-height: 1;
  }

  a:visited {
    color: inherit;
  }

  a:not(.title):hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4.5px;
  }
</style>
