---
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
  <Head />

  <body>
    <Nav />
    <slot />
  </body>
</html>

<style>
  body {
    background-color: rgb(0, 0, 149);
  }
</style>
