---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en" class="overscroll-none">
  <Head />

  <body
    class:list={[
      "flex min-h-dvh flex-col",
      Astro.url.pathname === "/" ? "bg-primary" : "bg-secondary",
    ]}
  >
    <Nav />

    <main class="min-h-dvh">
      <slot />
    </main>

    <Footer />
  </body>
</html>
